fasttext
numpy<2
python-dotenv>=1.0.1
pydantic>=2.7.0
transformers>=4.41.0
sentencepiece>=0.2.0
torch>=2.2.0
neo4j>=5.18.0
stix2>=3.0.1
confluent-kafka>=2.4.0
psycopg[binary]>=3.1.18
streamlit>=1.35.0
langgraph>=0.2.0
langchain-core>=0.2.0
pytest>=8.0.0
requests[socks]
stem
beautifulsoup4
